<div class="donasipage">
  <div class="col-wrap">

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h1 class="panel-title"><p class="title-donasi">Persembahan Kasih<br/>Kapel Provinsialat MSC Indonesia</p></h1>
      </div>
      <div class="panel-body">
        <p>Terkait jadwal liturgi dan peribadatan dilaksanakan secara online maka untuk kolekte dan persembahan bisa diberikan dengan cara transfer ke:</p><br/>
        <p><b>Rek BCA</b></p>
        <h2><b>262 300 2551</b></h2>
        <p>Kongregasi Misionaris Hati Kudus</p>
        <p>KCP. Hasyim Ashari Jakarta Jakarta Pusat 10130</p>
      </div>
      <div class="panel-heading">
        <div class="panel-heading">
          <h3 class="panel-title">IDR</h3>
        </div>
      </div>
    </div>

    <div class="col-wrap thumb-wrap">
      <div class="thumb-article">
        <img src="{{ 'assets/images/QR.jpeg'|theme }}">
      </div>
    </div>
  </div>

</div>