==
<div class="col-wrap thumb-wrap">
  <div class="thumb-article">
    <img src="{{ page.banner.getPath() }}">
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><a href="{{ 'page-type-detail'|page({slug:'renungan-harian', detail:'renungan-harian-dari-buku-admirabile'}) }}" class="btn btn-primary">Renungan Harian dari Buku Admirabile</a></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
     <p><a href="{{ 'page-type-detail'|page({slug:'renungan-harian', detail:'video-renungan'}) }}" class="btn btn-primary">Video Renungan</a></p>
    </div>
</div>