<div class="row list">
  <div class="col-sm-3">
    <div class="col-wrap">
      <div class="list-thumb">
        <img src="{{ page.banner.getPath() }}">
      </div>
    </div>
  </div>
  <div class="col-sm-9">
  {{ page.content|raw }}
  </div>

  {% if page.slug == '8-desember-hari-berdirinya-kongregasi-misionaris-hati-kudus-tarekat-msc' %}
    <div class="row">
      <div class="col-sm-4 col-xs-6">
          <div class="col-wrap video-thumb-lagu">
            <div class="video-wrap"><iframe width="258" height="183" src="https://www.youtube.com/embed/2ioKIDA-P0Q?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
          <div class="panel-body post-body">
            <p><b>Sapaan Provinsial</b></p>
            <a href="https://www.youtube.com/watch?v=2ioKIDA-P0Q" class="btn btn-primary" target="_blank">Tonton di Youtube</a>
          </div>
      </div>
      <div class="col-sm-4 col-xs-6">
          <div class="col-wrap video-thumb-lagu">
            <div class="video-wrap"><iframe width="258" height="183" src="https://www.youtube.com/embed/NOAPA6IsdA4?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
          <div class="panel-body post-body">
            <p><b>Misa Syukur</b></p>
            <a href="https://www.youtube.com/watch?v=NOAPA6IsdA4" class="btn btn-primary" target="_blank">Tonton di Youtube</a>
          </div>
      </div>
      <div class="col-sm-4 col-xs-6">
          <div class="col-wrap video-thumb-lagu">
            <div class="video-wrap"><iframe width="258" height="183" src="https://www.youtube.com/embed/WUKXAd2tyB8?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
          <div class="panel-body post-body">
            <p><b>Ziarah Virtual</b></p>
            <a href="https://www.youtube.com/watch?v=WUKXAd2tyB8" class="btn btn-primary" target="_blank">Tonton di Youtube</a>
          </div>
      </div>
    </div>
  {% endif %}
</div>