==
<?php
use Mscindonesia\Doarenungan\Models\Video;

function onStart(){
    $slug = $this->param('slug');
    $query = Video::orderBy('created_at','desc')->paginate('10');
    
    $this['query'] = $query;
}
?>
==
<div class="col-wrap thumb-wrap">
  <div class="thumb-article">
    <img src="{{ page.banner.getPath() }}">
  </div>
</div>

{% for item in query.items %}
<!-- list: youtube -->
<div class="row list">
    <div class="col-sm-12">
      <div class="col-wrap video-thumb">
        <div class="video-wrap">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.link_youtube }}?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <h3>{{ item.title }}</h3>
      <div class="date">{{ item.created_at|date('d F Y') }} </div>
      <a href="https://www.youtube.com/watch?v={{ item.link_youtube }}?rel=0" class="btn btn-primary" target="_blank">Tonton di Youtube</a>
    </div>
</div>
<hr>
{% endfor %}
<!-- /list: gallery -->